@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'dmsans';
    src: url('./fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'dmsans';
    src: url('./fonts/DMSans-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=DM+Sans:wght@400;500;700&display=swap');
